# Dependências
node_modules/

# Arquivos de ambiente
.env

# Logs
logs
*.log
npm-debug.log*

# Arquivos de build
dist/
build/

# Sistema operacional
.DS_Store
Thumbs.db

# Editores de código
.vscode/
.idea/
*.sublime-* 